<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
<br/>

<form th:method="post" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName">Enter LastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">Enter Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>